.gradient2 {
  background: #fff;
  color: #000;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #000;
}
.logo-moving{
  width: 12%;
  height: 12%;
  margin-top: -30px;
}

#service {
  background-color: #fff;
  color: #000;
}

.logo{
  height: 10%;
  width: 10%;
}
.hr{
  border-top: 2px solid red;
  width: 10%;
}
.portfolio-logo img{
  width: 40%;
  height: 40%;
}
.container-partner{
  background-color: white;
  height: 500px;
  width: 100%;
  text-align: center;
  margin-top: -10%;
}
.container-partner .layer1{
  width: 70%;
  margin-left: 15%;
  background-color: #fff;
}

.videoTxt{
}


.headerTxt{
  font-size: 1.7em;
}

.

@media (max-width: 480px) {
  .videoTxt{
    margin-top: -42.5%;
    display: flex;
  }
  .headerTxt{
    font-size: 0.7em;
  }
}

@media only Screen and (min-width: 1600px) {
  .videoTxt{
    margin-top: -35%;
    margin-left: 20%;
  }
}
@media only Screen and (min-width: 2000px) {
  .headerTxt{
    font-size: 3em;
  }
  .videoTxt{
    margin-left: 28%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .videoTxt{
    margin-top: -42.5%;
  }
  .headerTxt {
    font-size: 1em;

  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .videoTxt{
    margin-top: -38%;
    margin-left: 3.5%;

  }
  .headerTxt{
    font-size: 1em;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .videoTxt{
    margin-top: -36.5%;
    margin-left: 11%;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2)  and (min-resolution: 192dpi) {
  .videoTxt{
  }
}