.gradient2 {
  background: #fff;
  color: #000;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Lato,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #000;
}
.logo-moving{
  width: 12%;
  height: 12%;
  margin-top: -30px;
}

#service {
  background-color: #fff;
  color: #000;
}

.logo{
  height: 10%;
  width: 10%;
}
.hr{
  color: red;
  size: 8px;
  width: 10%;
}
.portfolio-logo img{
  width: 40%;
  height: 40%;
}
.container-partner{
  background-color: white;
  height: 500px;
  width: 100%;
  text-align: center;
  margin-top: -10%;
}
.container-partner .layer1{
  width: 70%;
  margin-left: 15%;
  background-color: white;
}

.videoTxt{
  margin-top:-12%;
  margin-left: 11%;
}
/*
margin-top: -525px;
margin-left: 150px;

 */

.headerTxt{
  font-size: 1.5em;
}

@media (max-width: 538px) {
  .videoTxt{
    margin-top: -150px;
  }
  .headerTxt {
    font-size: 0.5em;

  }
  portfolio-logo img{

  }
}
@media only Screen and (max-width: 720px) {
  .videoTxt{

  }
}
@media only Screen and (device-width: 768px) {
  .videoTxt{
    margin-top: -300px;
    margin-left: 35px;
  }
}

@media only Screen and (min-width: 1440px) {
  .videoTxt{
    margin-left: 20%;
    margin-top: -34.5%;
  }
}
@media only Screen and (width: 2880px) {
  .videoTxt{
    margin-left: 500px!important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .videoTxt{
    
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}